body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.search-fluid-input .ui.icon.input {
  width: 100%;
}

.search-fluid-input .category {
  display: block !important;
}

.pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto !important;
}

.visibility-hidden {
  visibility: hidden;
}

.__dropdown {
}

.__dropdown > .dropdown {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.__dropdown > .dropdown > input {
  cursor: pointer !important;
}

.__dropdown > .dropdown > .text {
  display: flex;
  cursor: pointer !important;
  flex-grow: 1;
}

.__dropdown > .dropdown > .icon {
  color: black !important;
  display: flex;
  cursor: pointer !important;
}

.__dropdown > .dropdown > .menu {
  width: 100%;
}

.contained-image .carousel__image {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.ui.fullscreen.modal {
  left: auto !important;
}

.segment-no-last-child-bottom-margin.ui.segment:last-child {
  /* margin-bottom: 1rem; */
}

.no-margin {
  margin: 0 !important;
}

.show-messages > .ui.error.message {
  display: block !important;
}

.filters-search-column {
  width: 25% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}

.ui.simple.active.dropdown > .menu,
.ui.simple.dropdown:hover > .menu.actions-menu {
  top: -200% !important;
  left: 100%;
}

.gameinfo-with-background {
  background: transparent !important;
}
.gameinfo-with-background > .header,
.gameinfo-with-background > .content {
  background-color: rgb(29, 40, 57) !important;
}
.gameinfo-with-background.ui.modal > .header,
.gameinfo-with-background .ui.statistic > .label,
.ui.statistics .statistic > .label,
.gameinfo-with-background .ui.vertical.segment,
.gameinfo-with-background i.close.icon {
  color: white !important;
}

.gameinfo-with-background .carousel .ui.basic.buttons .button {
  background-color: white !important;
}

.white-tabs > .ui.menu > .item {
  color: rgba(255, 255, 255, 0.5) !important;
}

.white-tabs > .ui.menu > .active.item {
  color: rgba(255, 255, 255, 0.95) !important;
  border-color: rgba(255, 255, 255, 0.95) !important;
}

.awssld.img-contain img {
  object-fit: contain;
}

.urls-wrapper {
  display: flex;
  justify-content: space-evenly !important;
}

.urls-wrapper > .url-icon-wrapper {
  display: flex;
  align-items: center;
  min-width: 1.5em;
  min-height: 1.5em;
}

.google-button {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
.google-button > div {
  margin-right: 10px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 10px;
  border-radius: 2px;
}
.google-button > span {
  padding: 10px;
  font-weight: 500;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .urls-wrapper {
    padding: 0.25em 0.75em !important;
    justify-content: flex-start !important;
  }

  .urls-wrapper > .url-icon-wrapper:not(last-child) {
    padding-right: 1em;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
}
