body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.search-fluid-input .ui.icon.input{
  width: 100%;
}

.search-fluid-input .category {
  display: block !important;
}

.pointer{
  cursor: pointer;
}

.cursor-auto{
  cursor: auto !important;
}

.visibility-hidden{
  visibility: hidden;
}

.__dropdown{}

.__dropdown > .dropdown{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.__dropdown > .dropdown > input{
  cursor: pointer !important;
}

.__dropdown > .dropdown > .text{
  display: flex;
  cursor: pointer !important;
  flex-grow: 1;
}

.__dropdown > .dropdown > .icon{
  color: black !important;
  display: flex;
  cursor: pointer !important;
}

.__dropdown > .dropdown > .menu{
  width: 100%;
}

.contained-image .carousel__image{
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.ui.fullscreen.modal{
      left: auto!important;
}

.segment-no-last-child-bottom-margin.ui.segment:last-child{
  /* margin-bottom: 1rem; */
}

.no-margin{
  margin: 0 !important;
}

.show-messages > .ui.error.message{
display: block !important;
}

.filters-search-column{
  width: 25% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}