body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.search-fluid-input .ui.icon.input{
  width: 100%;
}

.search-fluid-input .category {
  display: block !important;
}

.pointer{
  cursor: pointer;
}

.cursor-auto{
  cursor: auto !important;
}

.visibility-hidden{
  visibility: hidden;
}